@page
@model ListModel
@{
    ViewData["Title"] = "List";
}

<table class="table">
    <caption class="h3">Restaurants</caption>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Cuisine</th>
    </tr>

    @foreach(var restaurant in Model.Restaurants)
    {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
    </tr>
    }

</table>


@Model.Message

